.AddAssignment {
  padding: 1rem;
  form {
    max-width: 50rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
    padding-top: 1rem;

    .heading{
        text-align: center;
        margin-top: 1rem;
    }
    p {
      padding-top: 1rem;
      font-size: 1.7rem;
      color: var(--light-color);

      span {
        color: var(--red);
      }
    }
    .box {
      width: 100%;
      border-radius: 0.5rem;
      background-color: var(--light-bg);
      padding: 1.4rem;
      font-size: 1.8rem;
      color: var(--black);
      margin: 1rem 0;
    }
    textarea{
        height: 10rem;
        resize: none;
    }
  }
}
