.AdminAssignment {
  padding: 2rem;
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;

    .box {
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 2rem;
      margin-bottom: 2rem;
      overflow-x: hidden;
      .title {
        font-size: 2rem;
        color: var(--black);
        margin-bottom: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
      }
      .description {
        line-height: 2;
        overflow: hidden;
        font-size: 1.7rem;
        color: var(--light-color);
      }
      .description::after {
        content: "...";
      }
      .more-less-btn {
        cursor: pointer;
        font-size: 1.5rem;
        color: red;
        margin-left: 0.4rem;
      }
      .thumb {
        height: 20rem;
        position: relative;
        margin: 1.5rem 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
        }
        span {
          background-color: rgba(0, 0, 0, 0.3);
          color: #fff;
          border-radius: 0.5rem;
          position: absolute;
          top: 1rem;
          left: 1rem;
          padding: 0.5rem 1.5rem;
          font-size: 2rem;
        }
      }
      .flex {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: space-between;

        i {
          font-size: 1.5rem;
          color: var(--main-color);
          margin-right: 0.7rem;
        }
        span {
          color: var(--light-color);
          font-size: 1.7rem;
        }
      }
    }
  }
}
